@{
    var obje = new MyEcom.Domain.Room();
}


<div class="portlet box purple ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>New Room
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
            <a href="" class="remove"> </a>
        </div>
    </div>


    <div class="portlet-body form">
        <form class="form-horizontal" method="post" role="form" action="/Hotel/AddNewRoom" enctype="multipart/form-data">
            <div class="col-md-4">
                <div>

                    <input id="Remember" type="checkbox" value="true" name="Wifi" />
                    <input type="hidden" value="false" name="Wifi" />
                    <label class="control-label" for="form_control_1">Wifi</label>
                </div>
              
                <div>

                    <input id="Remember" type="checkbox" value="true" name="TV" />
                    <input type="hidden" value="false" name="TV" />
                    <label class="control-label" for="form_control_1">TV</label>
                </div>
                <div>
                    <input id="Remember" type="checkbox" value="true" name="Bathroom" />
                    <input type="hidden" value="false" name="Bathroom" />
                    <label class="control-label" for="form_control_1">Bathroom</label>

                </div>
                <div>
                    <input id="Remember" type="checkbox" value="true" name="Aircon" />
                    <input type="hidden" value="false" name="Aircon" />
                    <label class="control-label" for="form_control_1">Air Conditioning</label>

                </div>
                <div>
                    <input id="Remember" type="checkbox" value="true" name="Jacuzzi" />
                    <input type="hidden" value="false" name="Jacuzzi" />
                    <label class="control-label" for="form_control_1">Jacuzzi</label>

                </div>
                <div>
                    <input id="Remember" type="checkbox" value="true" name="Minibar" />
                    <input type="hidden" value="false" name="Minibar" />
                    <label class="control-label" for="form_control_1">Mini Bar</label>

                </div>




            </div>
            <div class="col-md-8">
                <div class="form-group form-md-line-input">
                    <label class="col-md-1 control-label" style="margin-left:4%" for="form_control_1">Price</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="Price">
                            <div class="form-control-focus"> </div>
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-1">
                        <i class="fa fa-bed"></i>
                    </div>


                    <div class="col-md-8" style="margin-left:7%">
                        <select id="select2-single-input-sm" name="Bed" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>


                </div>
                <div class="col-md-7" style="margin-top:3%">
                    <div class="col-md-1">
                        <i class="fa fa bottom">Room Type</i>
                    </div>


                    <div class="col-md-8" style="margin-left:7%">
                        <select id="select2-single-input-sm" name="RoomType" class="form-control input-sm select2-multiple select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <option value="Standart">Standart </option>
                            <option value="Suit">Suit</option>
                            <option value="King">King</option>

                        </select>
                    </div>


                </div>
                <div class="col-md-7" style="margin-top:3%">
                    <div class="col-md-1">
                        <i class="fa fa bottom">Room Number</i>
                    </div>


                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm" name="RoomNumber" style="margin-left:12%" id="form_control_1" placeholder="How Many Room">
                        <div class="form-control-focus"> </div>
                    </div>


                </div>
                <div class="col-md-9">
                    <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-top:3%">

                        <div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new"> Select image </span>
                                <span class="fileinput-exists"> Change </span>
                                <input type="file" name="image" required>
                                <p class="help-block"> jpeg, jpg, png </p>
                              
                            </span>
                        </div>
                    </div>

                </div>




            </div>
            <div class="clearfix"></div>
            <center>
                <button type="submit" class="btn green col-md-ofset-8 right fileinput-exists" style="margin-left:23%;margin-top:1%;margin-bottom:1%">Submit</button>
            </center>

        </form>

    
       



            








      </div >

      
